.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;

}

h1, h2, h3, h4, h5, h6 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p, div {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
}
.list_table{
  width:100%;

  td:nth-child(1) {
    width: 60%;
    }
  
  /* the second */
  td:nth-child(2) {
    width: 20%;
  }
  
  /* the third */
  td:nth-child(3) {
    width: 20%;
   }
}

.todaysbookings{
  width:100%;
  td:nth-child(1) {
    width: 20%;
    }
  
  /* the second */
  td:nth-child(2) {
    width: 80%;
  }
}

.about_us{
  color: #CCCFD4;
}

.remove_icon{
  text-align: right;
}

.body_container{
  // min-width: 100vw;
  border-left:10vw solid #E3E7EC;
  border-right: 10vw solid #E3E7EC;
  
}

.background_container{
  background: url(https://cdn.statically.io/img/www.itl.cat/pngfile/big/0-7383_full-hd-1080p-cars-wallpapers-desktop-backgrounds.jpg) no-repeat;
  min-height: 100vh;  
  background-position: center;
  background-size: cover;
}

.bodycontainer{
  padding-left: 10%;
  padding-right: 10%;
}

$react-rater-active: #ffef00!default;
.center{
  margin: auto;
  width: 60%;
  border: 3px solid #FFFFFF;
  padding: 10px;
  text-align: center;
}

.form_container{
  margin: auto;
  width: 100%;
  padding: 5%;
  text-align: left;
}

.imgalign{
  position: relative;
  left: 10%;
  right:0%;
  border: 3px #f3f3f3 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  background-color: #f3f3f3;
  padding: 10px;
  max-width: 85%;
  margin: 10px;
  img {
    max-width: calc(100%);
    margin: 0 auto;
    display: block;
  }
}

td{
  width:10%;
}

.discription{
  position: relative;
  padding: 10%;
}

.topics{
  padding-left: 10%;
  color: #8FBC8F;
}

.app-form-item {
  margin: 0 0 15px 0;
}

.app-form-item label {
  /* text-transform: uppercase; */
  display: block;
  font-weight: 400;
  margin: 0 0 8px 0;
}

.app-form-item input[type='text'],
.app-form-item input[type='email'],
.app-form-item input[type='password'] .app-form-item input[type='text']:focus,
.app-form-item input[type='text'] :active,
.app-form-item input[type='email']:focus,
.app-form-item input[type='email'] :active,
.app-form-item input[type='password']:focus,
.app-form-item input[type='password'] :active .app-card {
  overflow: hidden;
  position: relative;
  background: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .app-cardd {
    width: 500px;
    position: relative;
    left: 700px;
  }
}

.app-cardd .app-cardd-header-inner {
  padding: 10px 20px;
}

.app-cardd .app-cardd-content .app-cardd-content-inner {
  padding: 20px;
}

.app-cardd-content .app-cardd-content-inner,
.app-cardd-content .app-cardd-content-inner {
  padding: 40px;
  background-color: #FFFFFF;
  opacity: 0.8;
}
body{
  overflow-x: hidden;
}
section {
  padding: 20px 0;
  max-width: 600px;
  margin: 0 auto; }

/* #endregion */
/* #region Card */
/* Card */
.cardd {
  border: 3px #f3f3f3 solid;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #f3f3f3;
  padding: 10px;
  max-width: 220px;
  text-align: left;
  margin: 11px;
  padding-bottom: 0px;
  &:hover {
    background-color: #f3f3f3;
    border-color: #f3f3f3;
  }
  img {
    max-width: calc(100%);
    margin: 0 auto;
    display: block;
  }
  .index {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    line-height: 20px;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    padding: 0 10px;
    word-wrap: normal;
  }
  
  .details {
    position: relative;
    font-size: 65%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
}

/* #endregion */

/* #region cards slider */
.cards-slider-wrapper {
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  z-index: -2;
  .cardd {
    flex: 1;
    min-width: 200px;
    opacity: 0.7;
    transform: scale(0.8);
    box-shadow: none;
    background-color: white;
    border-color: white;
    transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear,transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    .details {
      opacity: 0;
      transition: opacity 150ms linear;
    }
  }
}

$i: 0;
@for $i from 0 through 29 {
    .cards-slider.active-slide-#{$i} #cardd-#{$i} {
      height: 100%;
      opacity: 1;
      transform: scale(1.5);
      background-color: #f3f3f3;
      border-color: #f3f3f3;
      .details {
        opacity: 1;
      }
    }
}

.col {
  height: 264px;
  position: relative;
  &:before,
  &:after {
      content: '';
      display: block;
      width: 50%;
      height: 120%;
      background: linear-gradient(to right, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0) 100%);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
  }
  &:after {
      left: auto;
      right: 0;
      background: linear-gradient(to left, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0) 100%);
  }
}

.cards-slider {
  position: relative;
  max-width: 226px;
  margin: 0 auto;

  // boder for active property
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 264px;
    position: absolute;
    top: 0; 
    left: 0;
  }
}


.page-wrap {
  border-left:12vw solid #E3E7EC;
  border-right: 12vw solid #E3E7EC;
  min-height: calc(100vh - 300px);
}
// .page-wrap:after {
//   content: "";
//   display: block;
// }
// .site-footer, .page-wrap:after {
//   height: 300px; 
// }
.site-footer {
  height: 300px;
  background-color: #3b4d64;
  text-align: center;
  color: white;
  overflow-x:auto;
}

.footer {
  position: sticky;
  // width: 100%;
  bottom: 0;
  // left: 0;
  // padding: 1rem;
  background-color: #3b4d64;
  text-align: center;
  color: white;
}

.aboutus{
  text-align: justify;
  margin-left: 10%;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
}
 
/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

@media (max-width: 800px) {
  .my-masonry-grid {
    margin-left: -15px; /* gutter size offset */
  }
  .my-masonry-grid_column {
    padding-left: 15px; /* gutter size offset */
  }
  .my-masonry-grid_column > div {
    margin-bottom: 15px; /* space between items */
  }
}

.btn-circle.btn-xl { 
  width: 70px; 
  height: 70px; 
  padding: 10px 16px; 
  border-radius: 35px; 
  font-size: 12px; 
  text-align: center; 
}